<h1>Click a Topic To View Content</h1>
<%= link_to 'Create a new topic', new_sub_topic_path(@sub) %>
<ul>
  <% @topics.each do |topic| %>
    <li><%= link_to topic.name, [@sub, topic] %></li>
  <% end %>
</ul>